*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
}
p{
    color: #616161;
}
p, button{
    font-family: 'Overpass', sans-serif;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Poppins', sans-serif;
}
.logo{
    padding: 20px;
}
.logo h2{
    color: #17A1FA;
    font-family: 'Poppins', sans-serif;
}
.sidebar{
    width: 15vw;
    height: 100vh;
}
.menu{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
a{
    text-decoration: none;
}
.menu-item a{
    padding: 10px 5px;
    display: flex;
    align-items: center;
    align-items: center;
    gap: 10px;
}
.menu-item{
    transition: 1000ms;
}
.menu-item:hover{
    cursor: pointer;
    transform: translateX(10px);
}
.events{
    background-color: rgba(179, 179, 179, 0.1);
    border-left: 3px solid #17A1FA;
    width: 90%;
}
.menu-item i, .log-out i{
    color: #b3b3b3;
}
.menu-item p, .log-out p{
    color: #616161;
}
.log-out a{
    position: absolute;
    bottom: 20px;
    padding: 10px 5px;
    display: flex;
    align-items: center;
    align-items: center;
    gap: 10px;
}

/*calendar styles*/
.events-section{
    width: 85vw;
    height: 100vh;
    background-color: rgba(179, 179, 179, 0.05);
}
.intro{
    text-align: center;
    margin-top: 50px;
}
.intro h2{
    color: #17A1FA;
}
.contianer {
    width: max-content;
    height: max-content;
    position: relative;
    display: flex;
    padding: 2% 0px 0px 0px;
    justify-content: center;
    top: 10%;
    right: 0%;
    width: 100%;
    height: 100%;
  }
  .calendar {
    height: 500px;
    width: max-content;
    background-color: #fff;
    border-radius: 25px;
    overflow: hidden;
    padding: 30px 50px 0px 50px;
    position: relative;
    bottom: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .calendar-header {
    background: #17A1FA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    color: #fff;
    padding: 10px;
  }
  .calendar-body {
    pad: 10px;
  }
  .calendar-week-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: 600;
    cursor: pointer;
    color: #616161;
    font-family: 'Overpass', sans-serif;
  }
  .calendar-week-days div:hover {
  color: #000;
  transform: scale(1.2);
  transition: all .2s ease-in-out;
  }
  .calendar-week-days div {
    display: grid;
    place-items: center;
    height: 50px;
  }
  .sat-and-sun{
    color: #17A1FA;
  }
  .calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
    color: #616161;
  }
  .calendar-days div {
    width: 37px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    position: relative;
    cursor: pointer;
    animation: to-top 1s forwards;
  }
  .month-picker {
    padding: 5px 10px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
  }
  .month-picker:hover {
    transform: scale(1.2);
    transition: all .2s ease-in-out;
  }
  .year-picker {
    display: flex;
    align-items: center;
  }
  .year-change {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin: 0px 10px;
    cursor: pointer;
  }
  .year-change:hover {
    background-color: #fff;
    color: #17A1FA;
    transition:all .2s ease-in-out ;
    transform: scale(1.12);
  }
  .calendar-footer {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  #year{
    font-family: 'Poppins', sans-serif;
  }
  #year:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: all .2s ease-in-out;
  }
  .calendar-days div span {
    position: absolute;
  }
   .calendar-days div:hover {
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
    background-color: #17A1FA;
    color: #fff;
  }
  .calendar-days div.current-date {
    color: #fff;
    background-color: #17A1FA;
  }
  .month-list {
    position: relative;
    left: 0;
    top: -110px;
    background-color: #17A1FA;
    color: #fff;
    font-family: 'Overpass', sans-serif;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 5px;
    border-radius: 20px;
  }
  .month-list > div {
    display: grid;
    place-content: center;
    margin: 5px 10px;
    transition: all 0.2s ease-in-out;
  }
  .month-list > div > div {
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
  }
  .month-list > div > div:hover {
    color: #000;
    transform: scale(0.9);
    transition: all 0.2s ease-in-out;
  }
  .month-list.show {
    visibility: visible;
    pointer-events: visible;
    transition: 0.6s ease-in-out;
    animation: to-left .71s forwards;
  }
  .month-list.hideonce{
    visibility: hidden;
  }
  .month-list.hide {
    animation: to-right 1s forwards;
    visibility: none;
    pointer-events: none;
  }
  .day{
    font-family: 'Overpass', sans-serif;
  }
  .date-time-formate {
    width: max-content;
    height: max-content;
    position: relative;
    display: inline;
    top: 80px;
    justify-content: center;
    align-items: center;
    left: 30px;
  }
  .day-text-formate {
    font-family: Microsoft JhengHei UI;
    font-size: 1.4rem;
    padding-right: 5%;
    border-right: 3px solid #17A1FA;
    position: absolute;
    left: -1rem;
    padding-right: 20px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
  }
  .day-text-formate a{
    text-decoration: none;
    color: #000;
  }
  .date-time-value {
    display: block;
    height: max-content;
    width: max-content;
    position: relative;
    left: 40%;
    top: -15px;
    text-align: center;
    font-family: 'Overpass', sans-serif;
  }
  .time-formate {
    font-size: 1.5rem;
  }
  .time-formate.hideTime {
    animation: hidetime 1.5s forwards;
  }
  .day-text-formate.hidetime {
    animation: hidetime 1.5s forwards;
  }
  .date-formate.hideTime {
    animation: hidetime 1.5s forwards;
  }
  .day-text-formate.showtime{
    animation: showtime 1s forwards;
  }
  .time-formate.showtime {
    animation: showtime 1s forwards;
  }
  .date-formate.showtime {
    animation: showtime 1s forwards;
  }
  @keyframes to-top {
    0% {
      transform: translateY(0);
      opacity: 0;
    }
    100% {
      transform: translateY(100%);
      opacity: 1;
    }
  }
  @keyframes to-left {
    0% {
      transform: translatex(230%);
      opacity: 1;
    }
    100% {
      transform: translatex(0);
      opacity: 1;
    }
  }
  @keyframes to-right {
    10% {
      transform: translatex(0);
      opacity: 1;
    }
    100% {
      transform: translatex(-150%);
      opacity: 1;
    }
  }
  @keyframes showtime {
    0% {
      transform: translatex(250%);
      opacity: 1;
    }
    100% {
      transform: translatex(0%);
      opacity: 1;
    }
  }
  @keyframes hidetime {
    0% {
      transform: translatex(0%);
      opacity: 1;
    }
    100% {
      transform: translatex(-370%);
      opacity: 1;
    }
  }
  @media (max-width:375px) {
    .month-list>div{
  
      margin: 5px 0px;
    }
  }

/*form styles*/

.event-form{
  width: 30vw;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
}
.close-button i{
  font-size: 25px;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  color: #b3b3b3;
}
.close-button i:hover{
  color: red;
}
.event-form div{
  margin-bottom: 20px;
}
#event{
  outline: 0;
  border: 0;
  border-bottom: 1px solid #000;
}
.event-name{
  cursor: pointer;
}
.event-name label{
  position: relative;
  right: 170px;
}
.description{
  display: flex;
  flex-direction: column;
}
.description input{
  outline: 0;
  border: 0;
  background-color: rgba(217, 217, 217, 0.4);
  width: 70%;
  height: 50px;
}
.description label{
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 18px;
}
.category p{
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #000;
}
.time{
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #000;
}
.date{
  font-size: 16px;
}
.category button{
  padding: 10px;
  border-radius: 20px;
  border: 0;
  cursor: pointer;
  font-size: 16px;
}
.note-taking{
  color: #17A1FA;
  background-color: rgba(23, 161, 250, 0.2);
  margin-bottom: 10px;
}
.studying{
  color: #FFBA08;
  background-color: rgba(255, 186, 8, 0.4);
}
.assignment{
  color: #F76F8E;
  background-color: rgba(247, 111, 142, 0.4);
}
.rest{
  color: #5CF64A;
  background-color: rgba(92, 246, 74, 0.4);
}
.add{
  color: #542E71;
  background-color: rgba(84, 46, 113, 0.25);
}
.create-button button{
  padding: 10px;
  border: 0;
  cursor: pointer;
  color: #fff;
  background-color: #17A1FA;
  font-size: 16px;
}